 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="/img/me_beer.jpg" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    ...
  </div>
</div>

            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="/about">
                                <img src="img/me_beer.jpg">
                            </a>
                        </div>
                    <div class="media-body">
                        <h4 class="media-heading">About</h4>
                        Learn about me and my beer drinking story
                    </div>
                </div>
            </div>
        </div>
    </section>