<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    <div class="main-container">
        {% if page.lat %}
            <div id="map"></div>
            <script>
              function initMap() {
                var place = {lat: {{page.lat}}, lng: {{page.lng}}};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 10,
                  center: place
                });
                var marker = new google.maps.Marker({
                  position: place,
                  map: map
                });
              }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiyUGQpZq3A3DtA0rGWSLtEEvXwNdseUM&callback=initMap">
            </script>
        {% endif %}
        

        <p><a href="{{page.breweryURL}}">External link</a></p>
        <div class="beerlist row">
            {% assign rev = site.data.full | reverse %}
                {% for beer in rev %}
                    {% if beer.brewery == page.title %}
                        {% include beerCell.html beer=beer %}
                    {% endif %}
            {% endfor %}
        </div>
        
    </div>

    {% include contact_static.html %}
    {% include bottom-ad.html %}

    {% include footer.html %}
    {% include analytics.html %}
    {% include js.html %}
    {% include addthis.html %}
    </body>
</html>